header, ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #333;
  color: grey;
}

header h1 {
  margin-left: 20px;
  width: 35vw;
  color: black;
}

ul li a {
  display: block;
  padding: 15px 20px;
  width: 80px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  border-color: transparent transparent;
  transition: background 0.3s;
}

/* Home button colors */
ul li:nth-child(1) a {
  background-color: #76FF7A;
}

ul li:nth-child(1) a:hover {
  background-color: #32CD32;
}

/* Project button colors */
ul li:nth-child(2) a {
  background-color: #FFD580;
}

ul li:nth-child(2) a:hover {
  background-color: #FFAC1C;
}

/* Resume button colors */
ul li:nth-child(3) a {
  background-color: #6495ED;
}

ul li:nth-child(3) a:hover {
  background-color: #318CE7;
}

/* Experiment button colors */
ul li:nth-child(4) a {
  background-color: #F0E68C;
}

ul li:nth-child(4) a:hover {
  background-color: #FFD700;
}
