header, ul, div, section {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  color: black;
}

footer {
  display: flex;
  justify-content: center;
}

header h1 {
  margin-left: 20px;
  color: black;
}

ul li a {
  margin-right: 5px;
  display: block;
  padding: 15px 20px;
  width: 75px;
  text-decoration: none;
  color: black;
  background-color: transparent;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  justify-content: center;
  transition: background 0.3s;
}

body {
  font-size: 1vw;
}

/* Home button colors */
ul li:nth-child(1) a {
  background-color: #76FF7A;
}
ul li:nth-child(1) a:hover {
  background-color: #32CD32;
}

/* Project button colors */
ul li:nth-child(2) a {
  background-color: #FFD580;
}
ul li:nth-child(2) a:hover {
  background-color: #FFAC1C;
}

/* Resume button colors */
ul li:nth-child(3) a {
  background-color: #6495ED;
}
ul li:nth-child(3) a:hover {
  background-color: #318CE7;
}

/* Experiment button colors */
ul li:nth-child(4) a {
  background-color: #F0E68C;
}
ul li:nth-child(4) a:hover {
  background-color: #FFD700;
}


/* Home page specific adjustments */
h2, h3 {
  margin-left: 20px;
  width: 95vw;
}

div, section {
  justify-content: flex-start;
  margin-left: 5rem;
}

picture {
  margin-left: 20px;
}

p {
  width: 30em;
  margin-left: 5em;
  display: flex;
  flex-wrap: wrap;
}

address {
  margin-left: 5em;
}

form {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 100px;
  resize: none;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: white;
  background: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}

/* Resume page specific */
iframe {
  width: 100vw;
  display: flex;
  justify-content: center;
}

